
.pwdbook {
padding: 0 !important;
@include color(alt);
@include vendor('display', 'flex');
  background-color: _palette(alt, bg);
  color: _palette(fg-light);
  cursor: default;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: _size(wrapper);
  z-index: 2;

  > section {
  @include vendor('flex-basis', '50%');
  @include vendor('flex-grow', '1');
  @include vendor('flex-shrink', '1');
  @include padding((_size(padding) * 2), (_size(padding) * 2));
    border-left: solid 2px _palette(alt, border);

    &:first-child {
      border-left: 0;
    }

    &.split {
    @include vendor('display', 'flex');
    @include vendor('flex-direction', 'column');
      padding: 0;

      > section {
      @include padding((_size(padding) * 2) - 1, (_size(padding) * 2));
        border-top: dotted 2px _palette(alt, border);

        &:first-child {
        @include padding((_size(padding) * 2) - 1, (_size(padding) * 2), (_size(padding), 0, 0, 0));
          border-top: 0;
        }

        &:last-child {
        @include padding((_size(padding) * 2) - 1, (_size(padding) * 2), (0, 0, _size(padding), 0));
        }
      }

      &.contact {
        > section {
        @include vendor('display', 'flex');
        @include vendor('align-items', 'center');
          padding: (_size(padding) * 1.575) (_size(padding) * 2);

          > * {
            margin-bottom: 0;
          }

          > :first-child {
          @include vendor('flex-shrink', '0');
          @include vendor('flex-grow', '0');
            width: 6rem;
          }

          > :last-child {
          @include vendor('flex-shrink', '1');
          @include vendor('flex-grow', '1');
          }

          &:first-child {
            padding: (_size(padding) * 2) (_size(padding) * 2) ((_size(padding) * 2) - 1) (_size(padding) * 2);
          }

          &:last-child {
            padding: ((_size(padding) * 2) - 1) (_size(padding) * 2) ((_size(padding) * 2) - 1) (_size(padding) * 2);
          }

          &.alt {
          @include vendor('align-items', 'flex-start');

            > :last-child {
              margin-top: -0.325rem;
            }
          }
        }
      }
    }
  }

  form label,
  h3,
  p {
    font-size: 0.8rem;
  }

@include breakpoint(medium) {
  display: block;

  > section {
    border-top: solid 2px _palette(alt, border);
    border-left: 0;

    &:first-child {
      border-top: 0;
    }

    &.split {
      > section {
      @include padding((_size(padding) * 2), (_size(padding) * 2));

        &:first-child {
        @include padding((_size(padding) * 2), (_size(padding) * 2));
        }

        &:last-child {
        @include padding((_size(padding) * 2), (_size(padding) * 2));
        }
      }

      &.contact {
        > section {
          padding: (_size(padding) * 2);

          &:first-child {
            padding: (_size(padding) * 2);
          }

          &:last-child {
            padding: (_size(padding) * 2);
          }
        }
      }
    }
  }

  form label,
  h3,
  p {
    font-size: 0.9rem;
  }
}

@include breakpoint(small) {

  > section {
  @include padding((_size(padding) * 1), (_size(padding) * 1));
  border-left: 0;

    &.split {
      > section {
      @include padding((_size(padding) * 1), (_size(padding) * 1));

        &:first-child {
        @include padding((_size(padding) * 1), (_size(padding) * 1));
        }

        &:last-child {
        @include padding((_size(padding) * 1), (_size(padding) * 1));
        }
      }

      &.contact {
        > section {
          padding: (_size(padding) * 1);

          &:first-child {
            padding: (_size(padding) * 1);
          }

          &:last-child {
            padding: (_size(padding) * 1);
          }
        }
      }
    }
  }
}

@include breakpoint(xsmall) {
  width: 100%;
}

form {
    padding: 4rem 4rem 2rem 4rem;
    margin-bottom: 0;
}

section.left {
    border-left: 0;
}

ul {
    margin-bottom: 0;

    &.actions {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;

        li {
            flex-grow: 1;
        }

    }

    @include breakpoint(xsmall) {
        margin: 0 0 _size(element-margin) 0;

        li {
            padding: 0 1rem 0 0;
        }

        &.small {
            li {
                padding: 0 0 0 0;
            }
        }


    }
}

@include breakpoint(xsmall) {
    section {
        border-left: 0;
    }



}

input[type="submit"] {
    height: 3rem;
    line-height: 3rem;
}

.info-box {
    h3, p {
        height: 2rem;
        line-height: 2rem;
    }

    p {
        font-size: 1.6rem;
        word-break: break-all;
    }
}

}
